APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

MYSQL_DATABASE=hardware_world
MYSQL_USER=hw_user
MYSQL_PASSWORD=hw_password
MYSQL_ROOT_PASSWORD=change_this_root_password

DB_HOST=db
DB_PORT=3306
DB_NAME=hardware_world
DB_USER=hw_user
DB_PASSWORD=hw_password

# Used by SQLAlchemy and Alembic. For Docker, DB_HOST should be "db".
DATABASE_URL=mysql+pymysql://hw_user:hw_password@db:3306/hardware_world
SECRET_KEY=SGVsbG8sIFdvcmxkIQ==
